.fixed {
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 2px solid #ecebff;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;
}

//Title
.title {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 8px;
	padding: 15px;

	.filter {
		padding-top: 8px;
	}

	.option {
		padding-top: 8px;
		padding-left: 10px;
	}
}

//Search
.search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 8px 24px 10px 24px;

	.input {
		width: 100%;
		background-color: #f4f2f7;
		border-radius: 6px;
		border: 1px solid #dbdaff;
		padding: 8px 10px 8px 10px;
		font-size: 14px;
		color: #b1b1b1;
	}

	.find {
		width: 40px;
		height: 40px;
		text-align: right;
		padding: 5px;
		color: #736ef3;
	}
}

//List
.listHeader {
	padding: 4px 16px 4px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #e5e3fd;

	.count {
		padding: 5px;
		font-size: 13px;
		color: #7353ea;
	}
}

.box {
	padding: 12px 16px 16px 16px;
	border-bottom: 1px solid #e5e3fd;
	z-index: 1;

	.menus {
		display: flex;
		flex-direction: row;
		align-items: center;

		.listInfo {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			padding-bottom: 5px;
			font-size: 14px;
			color: #c5c5c5;
		}

		.edit {
			font-size: 22px;
			padding-left: 20px;
			color: rgb(115, 110, 243);
		}

		.status {
			font-size: 22px;
			padding-left: 14px;
			color: rgb(115, 110, 243);
		}

		.speaker {
			font-size: 22px;
			padding-left: 8px;
			color: rgb(115, 110, 243);
		}
	}

	.word {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 12px;
	}

	.meanings {
		font-size: 20px;
		text-align: left;
		display: inline-block;
		border-radius: 3px;

		.meaningBlock {
			display: inline-block;
			//background-color: #7353ea;
			color: #7353ea;
			margin-right: 6px;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #7353ea;
			font-size: 15px;
		}
	}
}

//Options Modal
.optionscontainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 210px;
	height: 220px;
	z-index: 2;

	position: absolute;
	top: 45px;
	right: 10px;

	font-size: 16px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 15px;

	.delete {
		margin-top: 18px;
		flex-grow: 1;
		width: 100%;
		text-align: center;
	}

	.unmark {
		flex-grow: 1;
		width: 100%;
		text-align: center;
	}

	.check {
		flex-grow: 1;
		width: 100%;
		text-align: center;
	}

	.unknown {
		flex-grow: 1;
		width: 100%;
		text-align: center;
	}
}

//Filter Modal
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.reset {
		font-size: 18px;
		width: 100%;
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid #000000;
	}

	.reset:hover {
		background-color: #e5e3fd;
	}

	.unmark {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 15px;

		font-size: 18px;
		border-bottom: 1px solid #000000;

		.markIcon {
			width: 30px;
		}
	}

	.unmark:hover {
		background-color: #e5e3fd;
	}

	.check {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 15px;

		font-size: 18px;
		border-bottom: 1px solid #000000;

		.markIcon {
			width: 30px;
		}
	}

	.check:hover {
		background-color: #e5e3fd;
	}

	.unknown {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 15px;

		font-size: 18px;
		border-bottom: 1px solid #000000;

		.markIcon {
			width: 30px;
		}
	}

	.unknown:hover {
		background-color: #e5e3fd;
	}
}
