:root {
	--color-purple: #736ef3;
	--color-grey: #dddddd;
	--font-size: 18px;
}

button {
	background: inherit;
	border: none;
	cursor: pointer;
}

// WordFormcontainer
.container {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px 15px;

	.icon {
		width: 24px;
		height: 24px;
	}

	input {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--color-grey);
		border-radius: 3px;
		font-size: var(--font-size);
	}

	button {
		width: 40px;
		height: 40px;
	}
}

// WordHeader
.subTitle {
	font-size: 14px;
	font-weight: normal;
	color: #b9b9b9;
}

.bookTitle {
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #736ef3;
	font-size: 16px;
}

.modalBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
}

.submitBtn {
	cursor: pointer;
	color: var(--color-grey);

	&.active {
		color: inherit;
	}
}

// WordForm
.wordForm {
	font-size: var(--font-size);
	margin-top: 30px;
	button {
		width: 24px;
		height: 24px;
	}
	label {
		font-size: var(--font-size);
		width: 100%;
	}

	.wordInputWrap {
		margin-bottom: 20px;
	}

	.wordInput {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			margin-left: 10px;
		}
	}

	.errorCaption {
		font-size: 15px;
		color: var(--color-purple);
	}

	.meanItem {
		position: relative;
		padding: 8px;
		margin-right: 20px;
		border: 1px solid var(--color-grey);
		border-radius: 10px;
		box-sizing: border-box;
		margin: 5px 0;
		display: flex;
		align-items: center;

		.icon {
			width: 20px;
			height: 20px;
		}

		div {
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
			height: 100%;
			margin-left: 10px;
		}

		button {
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			left: 0;
			width: 24px;
			height: 24px;
		}
	}
}

// BookListModal
.modalBookList {
	width: 100%;
	.modalBookItem {
		display: flex;
		align-items: center;

		padding: 10px;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		font-size: var(--font-size);

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			.icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	.selected {
		color: var(--color-purple);
	}
}
